<p-card header="Remaining Teams" [style]="{ background: 'purple' }">
    <p-table [value]="formattedTeams" [loading]="loading">
        <!-- <ng-template #header>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </ng-template> -->
        <ng-template #body let-formattedTeams>
            <tr>
                <td><img src="{{ formattedTeams.teams[0] }}" alt=""></td>
                <td><img src="{{ formattedTeams.teams[1] }}" alt=""></td>
                <td><img src="{{ formattedTeams.teams[2] }}" alt=""></td>
                <td><img src="{{ formattedTeams.teams[3] }}" alt=""></td>
            </tr>
        </ng-template>
    </p-table>
</p-card>
